<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cinema.css') }}">
</head>
<body>
    <div class="movie-details">
        <h2>{{ movie.title }}</h2>
        <img src="{{ url_for('static', filename=movie.img) }}" alt="{{ movie.title }}">
        <p>{{ movie.description }}</p>

        <h3>Projections:</h3>
        <ul>
            {% for projection in projections %}
                <li>{{ projection.day }} at {{ projection.time }}</li>
            {% endfor %}
        </ul>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
